.book-form {
  max-width: 500px;
  padding: 20px 10px;
  background-color: #c3ecbb;
  border-radius: 10px;
  margin-bottom: 20px;
}
.book-form .form-item .input-group .input-group-addon {
  display: none;
}
.book-form .form-item .input-group {
  width: 100%;
}
.book-form .button {
  padding: 10px 20px;
  background: #349b2b;
  color: #0c0c0c;
  border-radius: 10px;
  border: 1px #349b2b;
}
.book-form .button:hover {
  background: #67cc5f;
}
.responses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.responses .book {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: hsl(116, 70%, 75%);
  box-shadow: 0 -4px 16px 1px;
  margin: 23px 0 10px;
}
.responses .book .personal-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.responses .book .personal-data .book-avatar a  img{
  height: 50px;
  margin-right: 10px;
  width: 50px;
  display: flex;
}
.responses .book .personal-data .book-name {
  margin-right: 10px;
  font-size: 18px;
}
.responses .book .personal-data .book-created-time {
  font-size: 12px;
}
.responses .book .book-content {
  padding: 10px;
  background-color: rgb(194 241 186);
}
.responses .book .book-content .book-message {
  text-align: justify;
  min-height: 50px;
}
.responses .book .book-content .book-image a img {
  width: 150px;
  height: 150px;
}
.responses .book .book-content .book-image a {
  border-bottom: 0 dotted;
}
.responses .book .contacts {
  display: flex;
  justify-content: space-around;
}
.responses .book .book-btn {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  align-items: flex-end;
  flex: 1 0 auto;
}
.responses .book .book-btn div a {
  padding: 10px 20px;
  background-color: #349b2b;
  color: #0c0c0c;
  border-radius: 10px;
  border: 1px #349b2b;
}
